* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.navbar {
    background-color: #be3144;
    display: flex;
    justify-content: flex-end;
}
.navbar a {
    text-decoration: none;
    color: #f0f0f0;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
}
.navbar li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}
.header {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    font-size: 6rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #f0f0f0;
}
.header h1 span {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: #be3144;
}
.projects {
    text-align: center;
    padding: 10rem 2rem;
    background: #45567d;
}
.projects h2 {
    font-size: 4.2rem;
    color: #f0f0f0;
    text-decoration: underline;
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 40px;
}

.card {
    width: 30%;
}
img {
    max-width: 100%;
}
p {
    font-size: 2rem;
    color: #f0f0f0;
    background-color: #45567d;
    padding: 10px;
}
